target
!.mvnwrappermaven-wrapper.jar
.gradle
build
out
.idea
.vscode
/target/
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata
bin
tmp
.tmp
.bak
.swp
~.nib
local.properties
.settings
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders
.launch
.pydevproject
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders
.apt_generated
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.project
.classpath
.apt_generated
.sts4-cache
.orig
.BACKUP.
.BASE.
.LOCAL.
.REMOTE.
_BACKUP_.txt
_BASE_.txt
_LOCAL_.txt
_REMOTE_.txt
.class
.log
.ctxt
.mtj.tmp
.jar
.war
.nar
.ear
.zip
.tar.gz
.rar
hs_err_pid
build/libs
target
.sts4-cache/
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvntiming.properties
.mvnwrappermaven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
.stackdump
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN
.cab
.msi
.msix
.msm
.msp
.lnk
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
